.bordure
{
    /* max-height: 200px; */
    margin: 220px;
    margin-left: 150px;
    margin-right: 144px;
    background-color: rgb(255, 225, 230);
    border: 3px solid rgb(255, 187, 255);
    padding: 4px;
}


.box
{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

p
{
    position: absolute;
    top: 215px;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(189, 126, 248);
    text-align: left;
}

a:link
{
    color: rgb(33, 0, 33);
    text-decoration: none;
}

a:hover
{
    color: rgba(137, 43, 226, 0.731);
}

  
.pfp
{
    width: 110px;
    height: 110px;
    border: 2px solid rgb(253, 149, 253);
}
img:hover {
    opacity: 0.9;
  }

.linkname
{
    text-align: center;
    /* justify-content: center; */
}

/* CODE CSS HEADER */
header
{
    margin-left: auto;
    margin-right: auto;
    width: 794px;
    height: 49px;
    position: sticky;
    top: 0%;
}

.header
{
    background-color:  rgb(255, 225, 230); 
    width: 794px;
    height: 49px;
    border: 3px solid rgb(255, 187, 255);
    border-top: none;
    margin-top: -8px;
    margin-left: -11px;
    margin-right: 150px;
    margin-bottom: 8px;
    z-index: 10;

}

.boxheader
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 794px;
    height: 49px;
    
    
}

.header a {
    float: left;
    color: rgb(117, 1, 102);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  .header input[type=text] {
    float: right;
    padding: 6px;
    border: solid rgb(251, 178, 251);
    margin-right: 4px;
    font-size: 12px;
    margin-left: 30px;
  }

  a:hover
{
    color: rgba(137, 43, 226, 0.731);
}
 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .2Ss;
  }
  
  input:checked + .slider {
    background-color: #002c50;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #002c50;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 
/* FIN CODE CSS header */

body
{
  background-color: #190050;
}

.dark-mode
{
  background-color: rgb(252, 245, 255);
}